<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gagné</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='gagne.css') }}">
</head>

<body>

    <h1>Bravo ! Tu as gagné !</h1>

    <p>Le mot qui était à deviner est <!--insérer de bd--> " <strong>{{ rep }} </strong>".</p>

    <p class="definition"> {{ definition }}<!--La définition s'affichera insérer de la BD--> </p>

 

    <br />

 

    <form action="/game"  method="GET">

       

        <button>Rejouer</button>

     </form>

    <form action="/if3/" method="GET">

        <button>Relire les règles et rejouer</button>

    </form>

 

</body>

</html>