<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='p_garde.css') }}">
</head>
<body>
    
    <h1>DEVINE LE MOT ! </h1>
    <h2>Un site  </h2>
    <h2>avec un jeu</h2>
    <h2> et aussi des mots</h2> 
    
    <br/>
    <br/>


<a href= "if3/" > Clique ici pour jouer !</a>
</body>
</html>